<div class='passengers'>
  <h2>RideShare Passengers</h2>
  <span class="details-button"><%= paginate @passengers%></span>
  <% if @passengers.length > 0 %>
      <ul class='passengers-list'>
        <% @passengers.each do |passenger| %>
          <li class='passengers-list-item'>
            <strong><%= link_to passenger.name, passenger_path(passenger)%></strong> |
            <%if passenger.trips.length == 1%>
              <%= passenger.trips.length %> trip
            <%else%>
              <%= passenger.trips.length %> trips
            <%end%>
          </li>
        <% end %>
      </ul>
  <% else %>
    <h3>No passenger found!</h3>
  <% end %>
</div>
