<h2>Passenger Details ♡</h2>
<%=@passenger[:name]%> | 
<%@passenger[:id]%> |
<span>Total Charged </span> |
<span>List of Trips</span>
  <ul>
    <li>Clickable each Trip</li>
  </ul>
<span>Edit</span>
<span>Delete</span>