<div class='drivers'>
  <h2>Rideshare Drivers</h2>
  <ul class='drivers-list'>
    <% @drivers.each do |driver| %>
      <li class='drivers-list-item'>
        <strong><%= link_to driver.name, driver_path(driver.id) %></strong> | 
        <%= driver.trips.length %> trips
      </li>
    <% end %>
  </ul>
</div>
