// Place all the styles related to the Passengers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.passengers {
  padding-top: 10px;
  padding-left: 30px;
}

.passengers-list {
  list-style: none;
  padding: 0;
}

.passengers-list-item {
  padding: 5px;
}

.add-trip-button a{
  background-color: #4CAF50; /* Green */
  color: white;
  padding: 10px 30px;
  text-align: center;
  // width: 2em;
  // text-decoration: none;
  // display: inline-block;
  // font-size: 16px;
  // box-shadow: 5px 10px;
}

.passenger-button a {
  // background-color: rgb(131, 156, 189); 
  background-color: tomato;
  color: white;
  padding: 10px 30px;
  text-align: center;
}

// .delete-passenger-button {
//   background-color: lightsteelblue; 
//   color: white;
//   padding: 10px 30px;
//   text-align: center;
// }